# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
ENV/

# Pygame
*.pyo

# PyInstaller
build/
dist/
*.spec

# Executables
*.exe

# Logs
*.log

# Packaging
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db